<div class="client-box">
    <!--==profile===-->
    <div class="client-profile">
        <!--img--->
        <img alt="client" src="https://i.imgur.com/FNVH9z6.jpg">
        <!--text-->
        <div class="profile-text">
            <strong>James Mcavoy</strong>
            <span>CEO</span>
        </div>
    </div>
    <!--==Rating======-->
    <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <!--==comments===-->
    <p>Chitkara Grocery Store is the best. CGS never fails to dissapoint me. Grocery shopping has become so easy with Chitkara Grocery Store.</Str></p>
</div>
</div>