{% load static %}
<footer>
    <div class="footer-container">
        <!--logo-container------>
        <div class="footer-logo">
            
            <a href="{% static 'images/Logo.png' %}"><span>C</span>GS</a>
            <!--social----->
            <div class="footer-social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/?lang=en-in"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <!--links------------------------->
    <div class="footer-links">
        <strong>Product</strong>
        <ul>
            <li><a href="#">Grocery</a></li>
            <li><a href="#">Packages</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">New</a></li>
        </ul>
    </div>
    <!--links------------------------->
    <div class="footer-links">
        <strong>Category</strong>
        <ul>
            <li><a href="#">Beauty</a></li>
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Baby</a></li>
            <li><a href="#">Medicine</a></li>
        </ul>
    </div>
    <!--links-------------------------->
    <div class="footer-links">
        <strong>Contact</strong>
        <ul>
            <li><a href="#">Phone : +123456789</a></li>
            <li><a href="#">Email : chitkaragrocery@gmail.com</a></li>
            <li><a href="#">Cities we serve</a></li>
        </ul>
        <br><p style="color: aliceblue;">Copyright ©2022 | All Rights Reserved</p>
    </div>
    </div>
</footer>